html,body {
  background: #ffdd59;
}
body {
 width: 400px;
 margin: 0 auto;
 font-family: 'Roboto', sans-serif;
}

section {
 background: rgba(0,0,0,.3);
}

#imageBlock {
 background-size: cover;
 height: 300px;
 position: relative;
}
#refreshImage {
 position: absolute;
 background: rgba(255,255,255,.2);
 padding: 3px 10px;
 border-radius: 2px;
 color: #fff;
 top: 50%;
 left: 50%;
 margin-top: -25px;
 margin-left: -25px;
 font-size: 30px;
 border-radius: 50%;
 cursor:pointer;
}

header, footer {
 padding: 10px 0;
}

header h1{
 font-size: 16px;
 margin:0;
 font-family: 'Pacifico', cursive;
}

p {
 font-size: 12px;
}

#setWallpaper {
 width: 100%;
 background: rgba(0,0,0,.3);
 color: #fff;
 border: 0;
}

.form-control {
 margin: 0;
 padding: 10px;
 height: 20px;
 font-size: 12px;
 background: rgba(0,0,0,.1);
 border: 0;
 color: #fff;
}

footer p{
 margin:0;
}

footer .btn {
 margin-bottom: 10px;
}

footer a , footer a:hover, footer a:focus{
 color: #4d4d4d;
 text-decoration: none;
}
